*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 1vw;
    height: 1vh;
}

section #secfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}